html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: grid; /* Makes child element expand to height of parent */
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
}

.page {
    display: grid;
    padding: 5rem;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-time {
    font-size: 5em;
}